@font-face {
    font-family: segeo;
    src: url("../fonts/segeo.ttf");
}

* {
    font-family: segeo;
    margin: 0 auto;
}

#cover {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #FFF;
    z-index: 9999;
    font-size: 60px;
    text-align: center;
    padding-top: 20px;
    color: #fff;
}

#cover img
{
    top: 0;
}

.social{
    margin-top: 20px;
}

.social-icon
{
    width: 40px;
    height: 40px;
    background: #DDD;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    color:#5e5e5e;
}

.facebook-hover:hover
{
    background:#46629E;
    color:#FFF;
    cursor: pointer;
}

.google-hover:hover
{
    background:#EA4436;
    color:#FFF;
    cursor: pointer;
}

.twitter-hover:hover
{
    background:#0FB1F2;
    color:#FFF;
    cursor: pointer;
}



.header .navbar.navbar-default.navbar-static-top{
    margin-bottom: 0px;
    height: 70px;
}

.header .navbar.navbar-default .navbar-header .navbar-brand{
    line-height: 40px
}
.header .navbar.navbar-default .nav.navbar-nav li a{
    line-height: 40px;
    font-size: 16px;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -ms-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
}
.header .navbar.navbar-default .nav.navbar-nav li.active a{
    background: #1E90FF;
    color:#FFF;
}
.header .navbar.navbar-default .nav.navbar-nav li a:hover{
    background: #1E90FF;
    color:#FFF;
}







.slider {
    height: 500px;
    background-image: url('http://www.pinnacleadventure.co.uk/perch/resources/bg1small-1.jpg');
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 10px;
}









.products
{
}

.products .products-list
{
    margin-top:10px;
    position: relative;
    display: block;
    cursor: pointer;
}

.products .products-list img
{
    width: 100%;
}

.products .products-list:hover .products-list-description
{
    visibility: visible;
    top: 10px;
}

.products .products-list .products-list-description
{
    position: absolute;
    z-index: 1000;
    margin-left: 20px;
    top: 0px;
    visibility: hidden;
    transition:top 1s ease;
}

.products .products-list .products-list-description a
{
    font-size: 16px;
}















.index-about {
    height: 500px;
    margin-top: 50px;
    background-image: url('http://images.apple.com/ca/macbook-air/images/overview_wireless_hero_enhanced.png');
    /*background-attachment: fixed;*/
    background-size: cover;
}

.index-about .index-about-contents {
    text-align: center;
    padding: 150px;
}













.new-products {
    margin-top: 50px;
    margin-bottom: 30px;
}

.list-item {
    overflow: hidden;
    margin: 0 15px;
}

.list-item .list-thumb {
    overflow: hidden;
}

.list-item .list-thumb .title {
    background-color: #9ed034;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    height: 50px;
    text-align: center;
}

.list-item .list-thumb .title h4 {
    color: #fff;
    line-height: 50px;
}

.list-item .list-thumb img {
    width: 100%;
}

.list-item .list-content h5 {
    color: #9ed034;
    font-weight: 600;
    font-size: 14px;
    margin: 15px 0 5px 0;
}

.list-item .list-content span {
    color: #e54747;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0 0 15px 0;
}

.list-item .list-content a.price-btn {
    display: block;
    background-color: #9ed034;
    color: #fff;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin-top: 15px;
}

.list-item .list-content a.price-btn:hover {
    background-color: #90be2c;
}

.owl-next,.owl-prev {
    display: none;
}













.footer
{
    background-color: #F4F4F4;
    min-height: 250px;
    margin-top: 10px;
}

.footer hr
{
    border-color: #333;
    opacity: 0.3;
    width: 900px;
}

.footer-center ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-center ul li
{
    text-align: left;
    list-style: none;
}